html{background-color: #eddced;}
  .marca  ,img{ 
    width: 25rem;
    height:15rem;
   
  }
  .menu,ul {
    display: flex;
    gap:5.4rem;
    background-color: black;
    text-align: center;
    padding:2rem 3rem;
    font-size: 2.5rem;
    margin-top: 1.4rem;
    height: 9rem;
  }
  @media(max-width :1300px){
    .menu ul ,img {color: black;
    display: block;
  font-size: 1.5rem;
  padding: 0rem;
  margin: 0rem;
  
  }}
  @media(max-width :1300px){
    .menu ul a img {display: flex;
  position: relative;
  top: -7.5rem;
  left: 15rem;
  width: 2rem;
  height: auto;
  padding: auto;
  }}  
  .menu ,ul a{color: #E2E2E2;
  text-decoration: none;}
  li{text-decoration: none;
  list-style: none;}
  
  .ser1 a{color:darkturquoise;}
  .menu,a{color: #E2E2E2;
    text-decoration: none;
    }
  ul {background-color: rgba(0, 0, 0, 0.0);
  }
  .icone ,li img{ display: flex;
  color: #3A062C;
  gap: 2rem;
  width: fit-content;
  height: 4rem;
  padding-top: 0.8rem;
  }
  .frase { 
  background-color:rgba(255,195,235,0.55);
  padding: 6.7rem 8rem 2rem 1rem;
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 110%;
  }
 section { 
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 2rem;
  padding:1rem 10rem 10rem 12rem;
  margin: 2rem 10rem 10rem 4rem;
}
@media(max-width: 1800px) {
  section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
  }
}
.conteudo{
  background-color:rgb(156, 164, 189);
  padding: 2rem 6rem 2rem rem;
  border-radius: 2%;
  margin-bottom: 15rem;
}
h1{color: #09063A;
font-size: 5rem;
text-align: center;
}
.conteudo ul{ color:#2C1826;
display: inline-block;
font-size: 3rem;
font-style:inherit;
text-align: left;
}
.conteudo li{
  list-style:inside;
}
.preco{background-color:#181818;
  padding: 2rem 5rem 2rem 1rem;
  border-radius: 2%;
}
  h2{color: #C3AEFF;
    font-size: 5rem;
    text-align: center;
    }
    .preco ul{ color:#CDCCE1;
      display: inline-block;
      font-size: 3rem;
      font-style:inherit;
      text-align: left;
      }
      .preco li{
        list-style:inside;
      }
      .imagem img{
        width: 30rem;
        height:30rem;
        border-radius: 100%;
       position: absolute;
       top: 70rem;
       right: 70rem;
       border:0.2rem solid #E10FE5;
      }
      .detalhe::before{
        content: "";
        width: 9rem;
        height: 0.5rem;
        background-color: #E10FE5;
        position:absolute;
        top:28.5rem ;
      left: 16rem;
      border-radius: 5rem;
      transform: rotate(-50deg);
      }
    
      .detalhe2::before{
        content: "";
        width: 9rem;
        height: 0.5rem;
        background-color: #E10FE5;
        position:absolute;
        top:28.5rem ;
      left: 14rem;
      border-radius: 5rem;
      transform: rotate(-50deg);
      }
      .detalhe3::before{
        content: "";
        width: 9rem;
        height: 0.5rem;
        background-color: #E10FE5;
        position:absolute;
        top:28.5rem ;
      left: 90rem;
      border-radius: 5rem;
      transform: rotate(-50deg);
      }
      .detalhe4::before{
        content: "";
        width: 9rem;
        height: 0.5rem;
        background-color: #E10FE5;
        position:absolute;
        top:28.5rem ;
      left: 88rem;
      border-radius: 5rem;
      transform: rotate(-50deg);
      }
   
.ser a{
  color: darkturquoise;
}
button{
  font-size: 2.3rem;
  padding: 1.5rem 6rem 1.5rem 6rem;
  margin: 5rem 5rem 5rem 10rem;
  margin-bottom: 5rem;
  color:  #09063A;
  background-color:#E10FE5;
  border-radius: 1rem ;
  text-align: center;
  text-transform: uppercase;
}
   .rodape ul {
    margin-top: 0rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 2fr;
    gap: 2rem;
    background-color:black;
    padding: 2rem 2rem 5rem 40rem;
   }
   .ser{
    grid-column: 2;
   }
   .galeria{
    grid-column: 2 / 1;
   }
   .agendamento{
    grid-column: 2 / 3;
   }
   .insta{
    grid-column:   3 / 4;
    padding-bottom: 40rem;
   }
   a:hover{
    color:#9c3d9e;}
   a:active{color:#E10FE5;}
  